@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "poppins", sans-serif, serif;
  background: white;
  position: relative;
  overflow-x: hidden;
}

.wrapper {
  width: 100vw;
  height: 100vh;
}

.mini-wrapper {
  /* float: left; */
  width: 100%;
  height: 100%;
  z-index: -1;
}

.black-bg {
  background: black;
  width: 30%;
  height: 100%;
  float: left;
}

.hero-bg {
  background: url(./imgs/1639007622710.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 40%;
  height: 100%;
  float: left;
}
.white-bg {
  background: white;
  width: 30%;
  height: 100%;
  float: right;
}

.texts {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  color: white;
}

.col-1 {
  width: 100%;
  height: 40%;
}

.col-1 div {
  width: 65%;
  height: 100%;
  float: left;
  text-transform: uppercase;
  position: relative;
  margin-left: -8.5%;
}
.n-word {
  background-image: linear-gradient(to left, black, black, white, white, white);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

.black-word {
  color: black;
}
.col-1 div h1 {
  position: absolute;
  font-weight: 600;
  bottom: 0;
  margin-left: 24%;
  font-size: 500%;
  background-image: linear-gradient(
    to left,
    black,
    black,
    black,
    white,
    white,
    white,
    white
  );
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

.col-1 .para {
  width: 35%;
  height: 100%;
  float: right;
  line-height: 25px;
  color: #555;
}

.col-1 .para p {
  width: 73.1%;
  height: auto;
  margin-top: 110px;
  text-transform: none;
  font-size: 140%;
}
.col-2 {
  width: 100%;
  height: auto;
}

.col-2 .anchor {
  width: 230px;
  height: 50px;
  background-color: black;
  float: right;
  margin-right: 17%;
}

.col-2 .anchor h3 {
  float: left;
  height: 100%;
  width: 80%;
  padding: 4.5% 5% 0 5%;
}
.col-2 .anchor a {
  height: 100%;
  width: 20%;
  padding: 4%;
  float: right;
  background: burlywood;
  color: white;
  margin-top: auto;
}
.col-2 .anchor a i {
  font-size: 200%;
  margin-bottom: 10px;
}
section {
  width: 100%;
  height: 100vh;
  margin-left: 7%;
}
.section-02a {
  width: 100%;
  height: 90%;
  margin-top: 3%;
}
.text-2 {
  width: 40%;
  height: 450px;
  float: left;
}
.section-02a .text-2 h2 {
  width: 90%;
  font-size: 400%;
  /* line-height: 30px; */
  word-spacing: 5px;
}
.section-02a .text-2 p {
  width: 85%;
  font-size: 180%;
  padding-top: 5%;
}

.musuem-img {
  width: 60%;
  height: 450px;
  float: right;
}

.musuem-img img {
  width: 100%;
  height: 450px;
}

.section-02b {
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}

.div-img {
  /* width: 660px; */
  height: 800px;
  /* background-image: url(./imgs/heropexels-robin-schreiner-2261165.jpg);
  background-position: cover; */
  /* background-repeat: no-repeat; */
  float: left;
  /* background-size: contain; */
  margin-top: 5%;
  overflow: hidden;
  float: left;
}
.div-img img {
  width: 100%;
  height: auto;
}

.section-02c {
  width: 40%;
  height: 800px;
  float: right;
  margin-top: 5%;
  margin-bottom: 20%;
  overflow: hidden;
}

.mini img {
  width: 100%;
  height: 400px;
  padding-bottom: 8%;
}
.section-texts {
  background-color: black;
  color: white;
  width: 90%;
  height: 100%;
  padding: 7%;
}
.section-texts h2 {
  text-transform: uppercase;
  font-size: 340%;
  padding-bottom: 5%;
}

.section-texts p {
  font-size: 150%;
  width: 90%;
}

footer {
  width: 100%;
  height: 155px;
  background-color: black;
  color: white;
  position: fixed;
  bottom: 0;
  left: 0;
}

footer h3 {
  width: 25%;
  height: 100%;
  float: left;
  font-size: 200%;
  font-family: Arial, Helvetica, sans-serif;
  margin: 3% 0 5% 10%;
}
footer span {
  display: block;
}
footer p {
  width: 40%;
  float: left;
  height: 100%;
  font-size: 110%;
  margin: 3% 5% 0 0;
}

footer .anchor {
  width: 200px;
  margin-right: 50px;
  height: 100%;
  float: left;
  margin: 25px;
  margin-top: 50px;
}
footer .anchor a {
  color: white;
  font-size: 150%;
  padding-left: 5px;
}

@media screen only and(max-width: 769px) {
}
